.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.name {
    text-align: center;
}

.span {
    color: black;
}

.info {
    background: #e4e4e4;
    border: 1px solid #333;
}

.info h3 {
    text-align: center;
    margin: 0 0 1em 0;
    font-size:  16pt;
    color:black;
}

.info span {
    font-size: 14pt;
    color: black;
}

.info li {
    font-size: 10pt;
    color: black;
}

.about {
    height: 250px;
    background: #e4e4e4;
    border: 1px solid #333;
    padding: 5px 20px 5px 20px;
}

.tags {
    height: 350px;
    background: #e4e4e4;
    border: 1px solid #333;
    padding: 5px 20px 5px 20px;
}

.category {
    height: 200px;
    background: #e4e4e4;
    border: 1px solid #333;
    padding: 5px 20px 5px 20px;
}

.about p, .tags p, .category p {
    font-size: 18pt;
    padding-top: 20px;
    padding-bottom: 20px;
}


.clearfix{
    display: block;
    clear:both;
}


.blog-item{
    height: 500px;
    position: relative;
    overflow: hidden;
    margin:0 0 2rem 0;
    display:block;
}

.blog-item figure{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
}

.blog-item figure img{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.blog-item:nth-of-type(1) figure img{
    object-position: 50% 28%;   
}

.blog-item:nth-of-type(2) figure img{
    object-position: 50% 50%;   
}

.blog-item:nth-of-type(2) figure img{
    object-position: 50% 50%;   
}

.blog-item .info{
    position: absolute;    
    left:1rem;
    bottom:1rem;
    right:1rem;
}

.tag-sushi p, .tag-tips, .tag-equipments {
    font-size: 13pt;
    color: black;
    transition: color 400ms ease;
    -webkit-transition: color 400ms ease; 
    padding-top: 8px;
    padding-bottom: 10px;
}

.tag-sushi p:hover, .tag-tips:hover, .tag-equipments:hover {
    color: #666;
}

@media(min-width:1000px) {
    .blog-items {
        float:left;
        width:68%;
        margin:0 2% 0 0;
    }
    .blog-aside{
        float:left;
        width:30%;
    }

/*.info h3, .info ul, .name {
    text-align: left;
    }*/
    .info h3 {
    text-align: left;
    font-size:  16pt;
    color:black;
    }

    .info span {
    text-align: left;
    font-size: 14pt;
    color: black;
    }

    .info li {
    text-align: left;
    font-size: 10pt;
    color: black;
    }
}
