.wrapper {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrapper h1 {
    font-size: 20pt;
    text-align: center;
    margin-bottom:.5rem;
    padding-top: 1em;
    line-height:110%;
}

.wrapper span {
    font-size: 15pt;
    display:block;
    text-align:center;
    margin:0 0 .5rem 0;
}
.blog-detail figure{
    margin: 1rem 0;
}

.blog-detail figure img{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
}

@media (min-width:1000px) {
    .wrapper p {
        text-align: left;
    }

    .wrapper h1 {
        text-align: left;
    }

    .wrapper span {
        text-align: left;
    }
}
