.heading{
    font-weight: bold;
}

.heading--primary{
    font-size: 1.7rem;
    margin:0 0 1.5rem 0;
}

.heading--secondary{
    font-size: 1.4rem;
    margin:2rem 0 1rem 0;
}

.content{
    max-width: 750px;
    margin: 2rem auto;
    padding: 1rem;
}

.content__section{
    padding:0 0 1rem 0;
    margin:0 0 1rem 0;
}

.content__section:first-of-type:not(:first-child){
    border-top:1px solid #e4e4e4;
    padding-top:1rem;
    margin-top:2rem;
}

.content__section:not(:last-of-type){
    border-bottom:1px solid #e4e4e4;
}