footer {
    background: #222;
    margin-top: 5rem;
}

#createdby{
    position: absolute;
    right:1rem;
    bottom:.5rem;
    color:#666;
    text-transform: uppercase;
    font-size: .8rem;
    transition: color 400ms ease;
    -webkit-transition: color 400ms ease;
    z-index: 12;
}
#createdby:hover{
    color: #fff;
}

.footer-container {
    color: #fff;
    margin: 0 auto;
    padding: 2rem ;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav"
                         "text social";
    grid-row-gap: 3rem;
}

footer .logo{
    grid-area: logo;
}

footer .logo .character{
    color: #fff;
    font-size: 4rem;
}

footer .logo .title{
    color:#d6d6d6;
}

footer .main{
    grid-area: nav;
}

footer .main li{
    margin:0 0 .5rem 0;
}

footer a {    
    color: #fff;
    display: block;
}

footer .socialtext{
    grid-area: text;
}

footer .social{
    grid-area: social;
}

.icon{
    position: relative;
    margin: 0 0 3rem 0;
    padding-left: 4rem;
}

.icon::before{
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

.icon--facebook::before{
    background: url('i/facebook.svg') no-repeat;
}

.icon--twitter::before{
    background: url('i/twitter.svg') no-repeat;
}

@media screen and (min-width:1000px){
    footer{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
    }

    .footer-container {
        max-width: 1200px;
        margin:0 auto;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr 1fr 1fr;
        grid-template-areas: "logo nav text social";
        grid-column-gap: 3rem;
    }

    footer .shareon{
        justify-self: flex-end;
    }

    footer .main li{
        display: inline-block;
        margin:0 2rem 0 0;
        vertical-align: middle;
    }

    .icon {
        display: inline-block;
        margin: 0 3rem 0rem 0;        
    }

    footer .main,
    footer .shareon,
    footer .social
    {
        display: flex;
        align-items: center;
    }
}