html, body,*:before,*:after {
    color: #111;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 140%;
}

body{
    box-sizing: border-box;
    min-height: 100%;
    background: #fff;
    padding-top:80px;
}

body *,body *:before,body *:after {
    box-sizing: inherit
}

a{
    text-decoration: none;    
}

a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.character{
    font-family: 'Noto Sans TC';
    line-height: 100%;
}